#grand{
    background-image: linear-gradient(red,green);
    height: 400px;
    margin-top: 50px;
    padding-top: 30px;
}
h2{
    margin-bottom: 30px !important;
    text-align:  center;
    font-weight: bold !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
#btn{
    margin-left: 170px;
    background-color: yellow !important;
    color: black;
    margin-top: 30px;
}
.div2{
    margin-top: 20px;
}
.indice{
    margin-left: 30px;
}
table{
    text-align: left;
    margin-right: 20px;
    margin-top: 30px;
}
.resultat{
    height: 30px;
    width: 200px;
    background-color: #fff;
    margin-left: 20px;
}
label{
    font-weight: bold;
    color: aqua;
}
.result{
    margin-left: 20px;
}